{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/profil.css')}}">
{% endblock %}
{% block body %}
	{{ form_start(form) }}
    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
			<div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">MA LETTRE DE MOTIVATION</h2>
			    	{{ form_row(form.content|raw) }}
			    	<input	type="submit" value="Sauvegarder" class="btn btn-primary">
			    </section>
			</div>
	    </div>
	</article>
	{{ form_end(form) }}
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('assets/dist/js/ckeditor.js') }}"></script>
	{% endblock %}
{% endblock body %}