{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base_user.html.twig' %}
{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>LP</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
        	<p class="login-box-msg">Changement mot de passe</p>
			{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
		        <div class="form-group has-feedback">
		            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe', 'autocomplete': 'off' } }) }}
		            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		            <span class="text-danger">{{ form_errors(form.plainPassword.first) }}</span>
		        </div>
		        <div class="form-group has-feedback">
		            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Retaper le mot de passe', 'autocomplete': 'off' } }) }}
		            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
		            <span class="text-danger">{{ form_errors(form.plainPassword.second) }}</span>
		        </div>
			    <div>
			        <input type="submit" value="Changer mon mot de passe" class="btn btn-primary btn-block btn-flat"/>
			    </div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}