{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/home.css')}}">
{% endblock %}
{% block body %}
<div class="banner">
<img class="home-picture" style="height: 150px;" src="{{ asset('assets/dist/img/Logo-lp.jpg')}}" alt="logo-LP" />
	<h1 class="title-home">Félicitations {{ user.lastName }}!</h1>
	<h3 class="subtitle-home"> Votre inscription est confirmé.</h3>
	<p>Vous pouvez maintenant voir <a href="{{ path('user_profile') }}">votre profil</a>.</p>
	<p class="paraph-home">Immeuble FITARATRA<br>5ème étage<br>Rue RAVONINAHITRINIARIVO<br>Ankorondrano 101 ANTANANARIVO</p>
</div>

{% endblock body %}