{% extends 'base_rh.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/home.css')}}">
{% endblock %}

{% block body %}
<style>
b, strong {
    font-weight: inherit;
}
</style>
	<div class="banner container" style="padding: 0;margin: 0 auto;width:calc(100% - 230px) !important;" class="container">
	{% if not new is defined %}
		<div style="display:flex;padding: 0;" class="col-lg-12 col-md-12 col-sm-12">
			<div style="line-height: 20px;flex: 1;background-color: #cc1b27;"><i class="fa fa-search" style="line-height: 33px;"></i></div>
			<div style="flex: 15;">
				<input type="search" name="q" class="form-control" placeholder="Tapez le nom/prénom (en entier ou partiel) ou l'adresse email du candidat" onchange="searchCandidat(this)">
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px;background-color: #a3a6a561;padding: 10px;font-weight: 600;">
			<div id="filter-rh" style="display: flex;margin-top: 5px;">
				{# <legend>Filtrer</legend> #}
				<select name="nationality" id="nationality">
					<option value="">Nationalité</option>
				{% for nationality in nationalities %}
					<option value="{{ nationality.id }}">{{ nationality.nationality }}</option>
				{% endfor %}
				</select>
				<select name="status" id="status">
					<option>Statut</option>
				{% for stat in status %}
					<option value="{{ stat.id }}">{{ stat.statut }}</option>
				{% endfor %}
				</select>
				<select name="tags[]" id="tags" multiple="true">
					<option>Tags</option>
					{% if tags is defined %}
					{% for tag in tags %}
						<option value="{{ tag.id }}">{{ tag.name }}</option>
					{% endfor %}
					{% endif %}
				</select>
				<div class="check-rh"><input type="checkbox" name="rh_validated" value="true" id="rh_validated">Validé par le RH</div>
				<button class="btn btn-primary" title="filtrer" id="filter"><i class="fa fa-filter"></i></button>
				<!--button class="btn btn-default" type="reset" title="Annuler tout le filtre" id="cancel-filter"><i class="fa fa-remove"></i></button-->

			</div>
		</div>
	{% endif %}
		<br/>
	<div class="ajax-content row">
		<table class="table table-bordered table-hover candidat-list">
			<thead>
                <tr>
                	<th>PHOTO</th>
                	<th>NOM</th>
                	<th>PRENOM</th>
                	<th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
				{% for candidat in candidates %}
					<tr>
				        <td>
				        	<img class="img-fluid" src="{{ asset('uploads/photos/' ~ candidat.profileName) }}" alt="Photo de {{ candidat.lastName }}" alt="card image" width="50px" height="50px">
				        </td>
				        <td>
				        	{{ candidat.firstName }}
				        </td>
				        <td>
				        	{{ candidat.lastName }}
				        </td>
				        <td>
				        	<a href="{{ path('candidat_view', {id: candidat.id}) }}" class="btn btn-primary" title="Voir le CV">Voir details</a>
				        </td>						
					</tr>
				{% endfor %}
			</tbody>
		</table>
			{% if not candidates %}
				<div style="text-align:center">
					<p>Aucun nouveau cv.</p>
					<a href="{{ path('rh_view_cvs') }}">Voir tous les CVs déjà encodés.</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$('#nationality').selectize();
	$('#status').selectize();
	$('#tags').selectize();
	function searchCandidat(query) {
		$.post({
			url: '/candidat/filter/list/candidat',
			method: 'POST',
			data: {q: query.value},
			success: function(data) {
				showView(data);
			}
		});
	}

	$(document).ready(function() {
		$('.candidat-list').DataTable({
			'paging'      : true,
			'lengthChange': false,
			'searching'   : false,
			'ordering'    : true,
			'info'        : true,
			'autoWidth'   : false
	    });		
	});


	$('#cancel-filter').click(function() {
		/*todo reset the fields*/
	});

	$('#filter').click(function() {
		var status = $('#status').val();
		var nationality = $('#nationality').val();
		var rh_validated = '';
		var tags = $('#tags').val();

		if ($('#rh_validated').is(":checked")) {
			rh_validated = $('#rh_validated').val();
		}

		$.post({
			url: '/candidat/filter/all',
			method: 'POST',
			data: { 'status': status, 'rh_validated': rh_validated, 'nationality': nationality, 'tags': tags },
			success: function(data) {
				showView(data);
			}
		});
	});

	function showView(data) {
		var html = '';
			html += '<table class="table table-bordered table-hover candidat-list">';
			html += '<thead>';
			html += '<tr>';
            html += '<th>PHOTO</th>';
            html += '<th>NOM</th>';
            html +='<th>PRENOM</th>';
            html += '<th>ACTIONS</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';
		for (var i = 0; i < data.length; i++) {
	        html += '<tr>';
	        html += '<td><img class="img-fluid" src="/uploads/photos/' + data[i].profileName + '" alt="Photo de ' + data[i].lastName +'" alt="card image" width="50px" height="50px"></td>';
			html += '<td>'+ data[i].firstName +'</td>';
			html += '<td>'+ data[i].lastName +'</td>';
			html += '<td><a href="/candidat/' + data[i].id +'" class="btn btn-primary" title="Voir le CV">Voir details</a></td>';
			html += '</tr>';
		}
			html += '</tbody></table>';
		$('.ajax-content').html(html);
	}
</script>
{% endblock %}