{% extends 'base_rh.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/home.css')}}">
{% endblock %}

{% block body %}
	<div class="banner">
		{% for candidat in candidates %}
			{# <div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{ asset('uploads/photos/' ~ candidat.profileName) }}" alt="Photo de {{ candidat.lastName }}" width="100px" height="100px">
			  <div class="card-body">
			    <h5 class="card-title">CV {{ candidat.lastName }}</h5>
			    <p class="card-text">{{ candidat.firstName }}</p>
			    <p class="card-text">{{ candidat.email }}</p>
			    <a href="{{ path('candidat_view', {id: candidat.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i> Voir</a>
			  </div>
			</div> #}

        <div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-2">
							<a href="{{ path('candidat_view', {id: candidat.id}) }}" class="cv_show" title="Voir le CV">
									<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
											<div class="mainflip">
													<div class="frontside">
															<div class="card">
																	<div class="card-body text-center">
																			<p><img class="img-fluid img-cv-list" src="{{ asset('uploads/photos/' ~ candidat.profileName) }}" alt="Photo de {{ candidat.lastName }}" alt="card image"></p>
																			<div>
																				<h2 class="card-title">{{ candidat.lastName }}</h2>
																				<p class="card-title" style="font-size: 18px;">{{ candidat.firstName }}</p>
																				<p class="card-text" style="font-weight:normal">{{ candidat.email }}</p>
																			</div>
																	</div>
															</div>
													</div>
											</div>
									</div>
							</a>
						</div>
				</div>

		{% endfor %}
	</div>
{% endblock %}