{% extends 'base_rh.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/home.css')}}">
{% endblock %}

{% block body %}
	<div class="banner container" style="padding: 0 2%;margin: 0 2%;" class="container">
	{% if not new is defined %}
		<div style="display:flex;padding: 0;" class="col-lg-12 col-md-12 col-sm-12">
			<div style="line-height: 20px;flex: 1;background-color: #7c97a1;"><i class="fa fa-search" style="line-height: 33px;"></i></div>
			<div style="flex: 15;">
				<input type="search" name="q" class="form-control" placeholder="Tapez le nom/prénom (en entier ou partiel) ou l'adresse email du candidat" onchange="searchCandidat(this)">
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px;background-color: #a3a6a561;padding: 10px;font-weight: 600;">
			<div id="filter-rh" style="display: flex;margin-top: 5px;">
				{# <legend>Filtrer</legend> #}
				<select name="nationality" id="nationality">
					<option>Nationalité</option>
				{% for nationality in nationalities %}
					<option value="{{ nationality.id }}">{{ nationality.nationality }}</option>
				{% endfor %}
				</select>
				<select name="status" id="status">
					<option>Statut</option>
				{% for stat in status %}
					<option value="{{ stat.id }}">{{ stat.statut }}</option>
				{% endfor %}
				</select>
				<select name="tags[]" id="tags" multiple="true">
					<option>Tags</option>
					{% for tag in tags %}
						<option value="{{ tag.id }}">{{ tag.name }}</option>
					{% endfor %}
				</select>
				<div class="check-rh"><input type="checkbox" name="rh_validated" value="true" id="rh_validated">Validé par le RH</div>
				<button class="btn btn-primary" title="filtrer" id="filter"><i class="fa fa-filter"></i></button>
			</div>
		</div>
	{% endif %}
</div>
		<br/>
	<div class="ajax-content container row">
			{% for candidat in candidates %}
	            <!-- Team member -->
	            <div class="col-md-4" style="min-height:100px !important">
					<a href="{{ path('candidat_view', {id: candidat.id}) }}" class="cv_show" title="Voir le CV">
						<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
							<div class="mainflip">
								<div class="frontside">
									<div class="card">
										<div class="card-body text-center">
											<p><img src="{{ asset('uploads/photos/' ~ candidat.profileName) }}" alt="Photo de {{ candidat.lastName }}" alt="card image" width="100px" height="100px"></p>
											<div>
												<h2 class="card-title">{{ candidat.lastName }}</h2>
												<p class="card-title" style="font-size: 18px;">{{ candidat.firstName }}</p>
												<p class="card-text" style="font-weight:normal">{{ candidat.email }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
			{% if not candidates %}
				<div style="text-align:center">
					<p>Aucun nouveau cv.</p>
					<a href="{{ path('rh_view_cvs') }}">Voir tous les CVs déjà encodés.</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
	$('#nationality').selectize();
	$('#status').selectize();
		function searchCandidat(query) {
			$.post({
				url: '/lpsa/candidat/filter/list/candidat',
				method: 'POST',
				data: {q: query.value},
				success: function(data) {
					showView(data);
				}
			});
		}

		$('#cancel-filter').click(function() {
			/*todo reset the fields*/
		});

		$('#filter').click(function() {
			var status = $('#status').val();
			var nationality = $('#nationality').val();
			var rh_validated = '';
			var tags = $('#tags').val();

			if ($('#rh_validated').is(":checked")) {
				rh_validated = $('#rh_validated').val();
			}

			$.post({
				url: '/lpsa/candidat/filter/all',
				method: 'POST',
				data: { 'status': status, 'rh_validated': rh_validated, 'nationality': nationality, 'tags': tags },
				success: function(data) {
					showView(data);
				}
			});
		});

		function showView(data) {
			var html = '';
			for (var i = 0; i < data.length; i++) {
		        html += '<div>';
		        html += '<div class="col-xs-12 col-sm-6 col-md-4">';
				html += '<a href="/candidat/'+ data[i].id +'" class="cv_show" title="Voir le CV">';
				html += '<div class="image-flip" ontouchstart="this.classList.toggle("hover");">';
				html += '<div class="mainflip">';
				html += '<div class="frontside">';
				html += '<div class="card">';
				html += '<div class="card-body text-center">';
				html += '<p><img class="img-fluid img-cv-list" src="/uploads/photos/' + data[i].profileName +'" alt="Photo de ' + data[i].lastName +'" alt="card image"></p>';
				html += '<div>';
				html += '<h2 class="card-title">' + data[i].lastName +'</h2>';
				html += '<p class="card-title" style="font-size: 18px;">' + data[i].firstName +'</p>';
				html += '<p class="card-text" style="font-weight:normal">' + data[i].username +'</p>';
				html += '</div>';
				html += '</div>';
				html += '</div>';
				html += '</div>';
				html += '</div>';
				html += '</div>';
				html += '</a>';
				html += '</div>';
				html += '</div>'
			}
			$('.ajax-content').html(html);
		}
	</script>
{% endblock %}