{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
	{% for job in jobOpenings %}
	<a href="{{ path('job_opening_detail', {id: job.id}) }}" class="job-opening-wrapper-link">
		<div class="job-opening-wrapper">
				<h3>Poste: {{ job.position }}</h3>
				<div>
					<h4>Missions:</h4>
					<p>{{ job.missions|length > 50 ? job.missions|truncate(300, true) : job.missions  }}</p>
				</div>
				<p>Annonce publié le: {{ job.updatedAt | date('d/m/Y') }}</p>
		</div>
	</a>
	{% endfor %}
{% endblock %}
