{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/profil.css')}}">
{% endblock %}
{% block body %}
    <article class="resume-wrapper text-center position-relative">
		<form method="POST" enctype="multipart/form-data">
			{{form_widget(form._token)}}
			<div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
				<header class="resume-header pt-4 pt-md-0">
				
					<div class="media flex-column flex-md-row" style="position: relative;">
						
						<div id="preview" style="min-height: 250px;width: 220px;background-size: cover; background-image:url('{{ asset('uploads/photos/' ~ user.profileName) }}')">
							<span style="position:absolute;width:1px;overflow: hidden;">
								{{ form_widget(form.profileFile, {attr:{'onchange':'readURL(this)'}}) }} 
								<span class="text-danger">{{ form_errors(form.profileFile) }}</span>
							</span>
						</div>
						<div class="btn-div" id="trig-upl" style="position: absolute;
							position: absolute;
							width: 140px;
							text-align: center;
							padding: 5px;
							border: 1px solid white;
							color: white;
							background-color: #323232;
							top: 50%;
							margin: 0 40px;"
						>
							<i class="fa fa-picture-o"></i> Modifier
						</div>
							<div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
							<div class="primary-info">
								<h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">					
										<label for="firstName">NOM:</label>
										{{ form_widget(form.firstName, {attr:{'class': 'form-control', 'id': 'firstName'}}) }}
										<span class="text-danger">{{ form_errors(form.firstName) }}</span>

										<label for="lastName">PRENOM:</label>
										{{ form_widget(form.lastName, {attr:{'class': 'form-control', 'id': 'lastName'}}) }}
										<span class="text-danger">{{ form_errors(form.lastName) }}</span>
								</h1>
								<ul class="list-unstyled">
									<li class="mb-2"><a href="#"><i class="fa fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>

										<label for="email">EMAIL:</label>
										{{ form_widget(form.email, {attr:{'class': 'form-control', 'id': 'email'}}) }}
										<span class="text-danger">{{ form_errors(form.email) }}</span>
									</a></li>
									<li><a href="#"><i class="fa fa-mobile fa-fw mr-2" data-fa-transform="grow-6"></i>{{ user.phoneNumber }}</a></li>
								</ul>
							</div><!--//primary-info-->
							<div class="secondary-info ml-md-auto mt-2">
								<a class="btn-edit-cv btn-div" href="{{ path('user_profile') }}"><i class="fa fa-times"></i> Annuler</a>
							</div><!--//secondary-info-->
							
						</div><!--//media-body-->
					</div><!--//media-->
				</header>
				<div class="resume-body p-5">
					<section class="resume-section summary-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">OBJECTIF</h2>
						<div class="resume-section-content">
							<p class="mb-0">Summarise your career here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
						</div>
					</section><!--//summary-section-->
					<div class="row">
						<div class="col-lg-9">
							<section class="resume-section experience-section mb-5">
								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Etat civil</h2>
								<p>
									<label for="dateOfBirth">DATE DE NAISSANCE:</label>
									{{ form_widget(form.dateOfBirth, {attr:{'class': 'form-control', 'id': 'dateOfBirth', 'type': 'date', 'required': false}}) }}
									<span class="text-danger">{{ form_errors(form.dateOfBirth) }}</span>
								</p>
								<p>
									<label for="placeOfBirth">LIEU DE NAISSANCE:</label>
									{{ form_widget(form.placeOfBirth, {attr:{'class': 'form-control', 'id': 'placeOfBirth'}}) }}
									<span class="text-danger">{{ form_errors(form.placeOfBirth) }}</span>
								</p>
								<p>
									<label for="maritalStatus">SITUATION MATRIMONIALE:</label>
									{{ form_widget(form.maritalStatus, {attr:{'class': 'form-control', 'id': 'maritalStatus'}}) }}
									<span class="text-danger">{{ form_errors(form.maritalStatus) }}</span>
								</p>
								<p>
									<label for="conjointName">NOM CONJOINT(E):</label>
									{{ form_widget(form.conjointName, {attr:{'class': 'form-control', 'id': 'conjointName'}}) }}
									<span class="text-danger">{{ form_errors(form.conjointName) }}</span>
								</p>
								<p>
									<label for="nbChildren">NOMBRE D'ENFANTS:</label>
									{{ form_widget(form.nbChildren, {attr:{'class': 'form-control', 'id': 'nbChildren'}}) }}
									<span class="text-danger">{{ form_errors(form.nbChildren) }}</span>
								</p>
								<p>
									<label for="nbChildren">NATIONALITE</label>
									{{ form_widget(form.nationality, {attr:{'class': 'form-control', 'id': 'nationality'}}) }}
									<span class="text-danger">{{ form_errors(form.nationality) }}</span>
								</p>
								<p>	
									<label for="addressaddress">ADRESSE:</label>
									{{ form_widget(form.address, {attr:{'class': 'form-control', 'id': 'address', 'rows': 5}}) }}
									<span class="text-danger">{{ form_errors(form.address) }}</span>
								</p>
								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">HOBBIES</h2>
								<div id="user-hobbies">
									{{ form_widget(form.hobbies, {attr:{'id': 'hobbies'}}) }}
									<span class="text-danger">{{ form_errors(form.hobbies) }}</span>
								</div>
								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">ACTIVITES EXTRA PROFESSIONNELLES</h2>
								<div id="extra-work-activity" class="container" style="min-height: 50px;">
								{% form_theme form 'collection/jquery.collection.html.twig' %}
								{{ form_row(form.extraWorkActivities) }}
								</div>

								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">SPORTS</h2>
								<div class="form-group">
									{{ form_widget(form.sports, {attr:{'id': 'sports'}}) }}
									<span class="text-danger">{{ form_errors(form.sports) }}</span>
								</div>
								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" id="training">FORMATIONS</h2>
								<div id="extra-work-activity"  class="container" style="min-height: 50px;">
								{% form_theme form 'collection/jquery.collection.html.twig' %}
									{{ form_row(form.trainings) }}	
								</div>

								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" id="experience">MES PARCOURS PROFESSIONELLES</h2>
								<div id="extra-work-activity"  class="container" style="min-height: 50px;">
								{% form_theme form 'collection/jquery.collection.html.twig' %}
									{{ form_row(form.experiences) }}
								</div>

								<br/>

								<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3" id="c4">MES COMPETENCES</h2>
								<div id="extra-work-activity"  class="container" style="min-height: 50px;">
									{{ form_row(form.skills) }}
									<a href="#c4" id="add_skill" title="Ajouter compétence professionnelle"><i class="fa fa-plus text-success"></i></a>
								</div>
								<br/>

								<div style="padding:20px; margin-top:30px;text-align:center;">
									<input style="font-size:15px;" type="submit" class="btn btn-primary" value="Sauvegarder"> ou 
									<a href="{{ path('user_profile') }}"class="btn btn-default" style="font-size:15px;"><i class="fa fa-times"></i> Revenir</a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</form>
	</article>

{% endblock body %}
{% block javascripts %}
<script src="{{ asset('assets/dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/dist/js/jquery.collection.js') }}"></script>
	<script type="text/javascript">
     	function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview')
                        .css('backgroundImage', 'url(' + e.target.result +')');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
		jQuery(document).ready(function($) {
			$('#user_experiences').addClass('container');
			$('#trig-upl').on('click', function(){
				$('#user_profileFile').trigger('click');
			})
			$('.collection-selector-user-extraWorkActivities').collection({
					allow_up: false,
					allow_down: false,
					add: '<a href="#"><i title="Ajouter" class="fa fa-plus collection-btn"></i></a>',
					remove: '<a href="#"><i title="Supprimer" class="fa fa-times collection-btn"></i></a>',
				});
			$('.collection-selector-user-trainings').collection({
					allow_up: false,
					allow_down: false,
					add: '<a href="#"><i title="Ajouter" class="fa fa-plus collection-btn"></i></a>',
					remove: '<a href="#"><i title="Supprimer" class="fa fa-times collection-btn"></i></a>',
				});
				$('.collection-selector-user-experience').collection({
					allow_up: false,
					allow_down: false,
					add: '<button><i title="Ajouter" class="fa fa-plus collection-btn"></i>Ajouter une expérience</button>',
					remove: '<a href="#"><i title="Supprimer" class="fa fa-times collection-btn"></i></a>',
					prefix: 'parent',
					add_at_the_end: true,
					children: [{
						selector: '.collection-selector-people-reference',
						prefix: 'child',
						allow_up: false,
						allow_down: false,
						add_at_the_end: true,
						add: '<a href="#"><i title="Ajouter" class="fa fa-plus collection-btn"></i><span style="font-size:10px;">Ajouter une personne de référence</span></a>',
						remove: '<a href="#"><i title="Supprimer" class="fa fa-times collection-btn"></i></a>',
						// ...
					}]
				});
		});

		{# jQuery(document).ready(function($) {
			$('#trig-upl').on('click', function(){
				$('#user_profileFile').trigger('click');
			})

		    var $container = $('div#user_extraWorkActivities');
		    var $containerTraining = $('div#user_trainings');
		    var $containerExperience = $('div#user_experiences');
		    var $containerSkill = $('div#user_skills');
		    var tmpProto =  $($('#user_experiences').attr('data-prototype'));
		    var $containerReferencedPerson = tmpProto.find('#user_experiences_user_experience_referencedPeople');
		    var index = $container.find(':input').length;


			$('#add_training').click(function() {
				$('#add_activity').trigger('click', [$containerTraining]);
			});

			$('#add_experience').click(function() {
				$('#add_activity').trigger('click', [$containerExperience]);
			});
			$('#add_skill').click(function() {
				$('#add_activity').trigger('click', [$containerSkill]);
			});
		    $('#add_activity').click(function(e, $c){
		    	if (typeof $c === "undefined") {
		    		$c = $container;
		    	}
		        addExtraWorkActivity($c);
		        e.preventDefault();
		        return false;
		    });
			
		    if (index == 0) {
		        addExtraWorkActivity($container);
		        addExtraWorkActivity($containerTraining);
		        addExtraWorkActivity($containerExperience);
		        addExtraWorkActivity($containerSkill);
		    } else {
		        $container.children('div').each(function(){
		            addDeleteLink($(this));
		        });
		        $containerTraining.children('div').each(function(){
		            addDeleteLink($(this));
		        });
		        $containerExperience.children('div').each(function(){
		            addDeleteLink($(this));
		            addAddLink($(this));
		        });
		        $containerSkill.children('div').each(function(){
		            addDeleteLink($(this));
		        });
		        $($containerReferencedPerson).children('div:first').each(function(){
		           $(this).css('backgroundColor', 'yellow');
		        });
				$containerReferencedPerson.children('div').each(function(){
		            addDeleteLink($(this));
		            addAddLink($(this));
		        });
		    }

		    function addExtraWorkActivity($c) {
		        var template = $c.attr('data-prototype')
		            .replace(/__name__label__/g, 'Activité ' + (index + 1))
		            .replace(/__name__/g, index);
		        var $prototype = $(template);
		        addDeleteLink($prototype);
		        $c.append($prototype);
		        index++;
		    }

			function addReferencedPerson($cont) {
		        var template = $cont.attr('data-prototype')
		            .replace(/personne_referencelabel__/g, 'Personne de reference n°' + (index + 1))
		            .replace(/personne_reference/g, index);
					console.log(template);
		        var $prototype = $(template);
		        addDeleteLink($prototype);
				// trouver le bon endroit pour append
		        $('#user_experiences_0').append($prototype);
		        index++;
			}

		    function addDeleteLink($prototype) {
		        var $deleteLink = $('<a href="#" class="fa fa-remove deleteThis" title="Supprimer">Supprimer</a>');
		        $prototype.append($deleteLink);
		        $deleteLink.click(function(e) { 
		            $prototype.remove();
		            e.preventDefault();
		            return false;
		        });
		    }
		    function addAddLink($prototype) {
		        var $addLink = $('<a href="#c3" class="add_referencedPersonne" title="Ajouter personne de reference"><i class="fa fa-plus text-success"></i>Add Personne réf</a>');
		        $prototype.append($addLink);
				$(this).closest('div').append($prototype);
		        $addLink.click(function(e) {
		        	console.log($prototype);
		        	addReferencedPerson($containerReferencedPerson);
		            e.preventDefault();
		            return false;
		        });
		    }
		}) #}
	</script>
{% endblock %}