{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/profil.css')}}">
{% endblock %}
{% block body %}

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row container">
					<div class="col-md-5 col-lg-5 col-sm-12" style="text-align:center">
						<div style="text-align: left">
							<img class="mr-3 img-fluid picture mx-auto" src="{{ asset('uploads/photos/' ~ user.profileName) }}" alt="">
							<div style="margin: 10px 0">
								<h3 style="font-size: 22px;">{{user.firstname}} {{user.lastName}}</h3>
								<h3 class="">{{user.statut}}</h3>
							</div>
						</div>
						

					</div>
				    <div class="col-md-7 col-lg-7 col-sm-12">
					    <div class="primary-info col-sm-6 col-md-8 col-lg-8">
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="fa fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{user.email}}</a></li>
								<li class="mb-2"><a href="#"><i class="fa fa-map-marker fa-fw mr-2" data-fa-transform="grow-3"></i>{{user.address}}</a></li>
							    <li><a href="#"><i class="fa fa-mobile fa-fw mr-2" data-fa-transform="grow-6"></i>{{ user.phoneNumber }}</a></li>
						    </ul>
					    </div><!--//primary-info-->
						<div style="display:block" class="col-sm-6 col-md-4 col-lg-4">
							<a class="btn-edit-cv" href="{{ path('user_profile_edit', {'id' : user.id }) }}" title="éditer mon cv"><i class="fa fa-pencil"></i></a>
							{% if app.user.submit %}
								<a class="btn-edit-cv" style="background-color: green;color:white" title="CV déjà soumis"><i class="fa fa-check"></i></a>
								{% else %}
								<a class="btn-edit-cv" href="{{ path('user_cv_send', {'id' : user.id}) }}" title="Soumettre mon cv pour validation"><i class="fa fa-paper-plane"></i></a>
							{% endif %}
						</div>
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5" style="margin-bottom: 50px !important;">
				    <div class="resume-section-content">
					    <p class="mb-0">Je suis actuellement étudiant à l'Université de Coblence et de calcul suis dans la phase finale de ma thèse.</p>
				    </div>
			    </section>
				
			    <div class="row">
				    <div class="col-lg-9">
					    {# <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Etat civil</h2>
						    <p>Date de naissance: {{ user.dateOfBirth | date('d/m/Y') }}</p>
						    <p>Lieu de naissance: {{ user.placeOfBirth }}</p>
						    <p>Situation familiale: {{ user.maritalStatus }}</p>
						    <p>Nom du conjoint: {{ user.conjointName }}</p>
						    <p>Nombre d'enfant: {{ user.nbChildren }}</p>
						    <p>Nationalité: {% if user.nationality.nationality is defined %}{{ user.nationality.nationality }}{% endif %}</p>
						    <p>Adresse: {{ user.address }}</p>
						</section> #}

							<section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Diplômes et Formations</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">		    
								    <article class="resume-timeline-item position-relative">
									   		{% for training in user.trainings %}
												<div class="resume-section-content container">
													<div class="col-lg-5 col-md-5 col-sm-5 resume-position-time">
													du {{training.StartDate|localizeddate('none', 'none', null, null, 'dd MMMM Y')}} au {{training.EndDate|localizeddate('none', 'none', null, null, 'dd MMMM Y')}}
													</div>
													
													<div class="col-lg-7 col-md-7 col-sm-7">
														<h3 class="font-weight-bold mb-1">{{ training.name }}</h3>
														<p class="mb-0">{{ training.description }}</p>
													</div>
												</div>
												<br/>
											{% endfor %}
								    </article>
							    </div>
						    </div>
					    </section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Expériences Professionnelles</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">		    
								    <article class="resume-timeline-item position-relative">
									    {% for experience in user.experiences %}
										    <div class="resume-section-content container">
											    <div class="col-lg-5 col-md-5 col-sm-5 resume-position-time">
											        du {{experience.DateDebut|localizeddate('none', 'none', null, null, 'dd MMMM Y')}} au {{experience.DateFin|localizeddate('none', 'none', null, null, 'dd MMMM Y')}}
											    </div>
											    <div class="rcol-lg-7 col-md-7 col-sm-7"><span class="font-weight-bold">{{ experience.position }}</span></br>
																						 <span style="color:#288edc">{{ experience.company }}</span> </br>
																						 <small class="text-muted">Niveau : ({{ experience.status }})</br>
																						 {{ experience.achievements|nl2br}}</br>
																						 {{ experience.others|nl2br}}</small></br>
												</div>
										    </div>
											</br>
									    {% endfor %}
									    <a href="{{ path('experience') }}">Voir toutes mes expériences déjà encodés </a>
								    </article>
							    </div>
						    </div>
					    </section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Mes compétences</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">		    
								    <article class="resume-timeline-item position-relative">
									    {# {% for userskill in user.skills %}
										    <div class="resume-timeline-item-header mb-2">
											    <div class="d-flex flex-column flex-md-row">
											        <h3 class="resume-position-title font-weight-bold mb-1">{{ userskill.skill.title }} : {{ userskill.level }}</h3>
											    </div>
										    </div>
										    <div class="resume-timeline-item-desc">
											    <p>{{ userskill.description|nl2br}}</p>
										    </div>
									    {% endfor %} #}
										<ul style="padding: 0;">
											{% for userskill in user.skills %}
											
												<li class="mb-1" style="display:flex">{{ userskill.skill.title }}
													{# <div class="star-ratings-css">
														<div style="height: 20px;    line-height: 27px;">
															<div class="star-ratings-css-top" style="width: {{ userskill.level * 100 / 10 }}%"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
															<div class="star-ratings-css-bottom"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
														</div>
													</div> #}
													<p>{{ userskill.description|nl2br}}</p>
												</li>
											
											{% endfor %}
										</ul>
									    <a href="{{ path('skill') }}">Voir toutes mes compétences </a>
								    </article>
							    </div>
						    </div>
					    </section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Activités extra-professionnelles</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">
									    <div class="resume-timeline-item-header mb-2">
									    	{% for activity in user.extraWorkActivities %}
											    <div>
											        <h3 class="resume-position-title font-weight-bold mb-1">{{ activity.name }}</h3>
													<p>{{ activity.description }}</p>
											    </div><!--//row-->
										    {% endfor %}
									    </div><!--//resume-timeline-item-header-->

								    </article><!--//resume-timeline-item-->
							    </div><!--//resume-timeline-->
							    
						    </div>
					    </section><!--//extra-work-activity-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Langues</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
									{% for langue in user.languages %}
								    <li class="mb-1" style="display:flex">{{ langue.name }} 
										<div class="star-ratings-css">
											<!-- Lu -->
											<div style="height: 20px;    line-height: 27px;">
												<div class="star-ratings-css-top" style="width: {{ langue.readinglevel * 100 / 10 }}%"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
												<div class="star-ratings-css-bottom"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
											</div>
										</div>
										<div class="star-ratings-css">
											<!-- Parlé -->
											<div style="height: 20px;    line-height: 27px;">
												<div class="star-ratings-css-top" style="width: {{ langue.speakinglevel * 100 / 10 }}%"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
												<div class="star-ratings-css-bottom"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
											</div>
										</div>
										<div class="star-ratings-css">
											<!-- Écrit -->
											<div style="height: 20px;    line-height: 27px;">
												<div class="star-ratings-css-top" style="width: {{ langue.writinglevel * 100 / 10 }}%"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
												<div class="star-ratings-css-bottom"><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></div>
											</div>
										</div>
									</li>
								    {% endfor %}
								    {# <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
								    <li><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li> #}
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Centres d'intérêt</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
							    	{% for hobby in user.hobbies %}
								    	<li class="mb-1">{{ hobby.name }}</li>
								    {% endfor %}
							    </ul>
						    </div>
					    </section><!--//interests-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Sports</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
							    	{% for sport in user.sports %}
								    	<li class="mb-1">{{ sport.name }}</li>
								    {% endfor %}
							    </ul>
						    </div>
					    </section><!--//interests-section-->
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article>

{% endblock body %}