{% extends 'base_user.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/dist/css/profil.css')}}">
{% endblock %}
{% block body %}

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-3 img-fluid picture mx-auto" src="{{ asset('uploads/photos/' ~ user.profileName) }}" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{user.firstname}} {{user.lastName}}</h1>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="fa fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{user.email}}</a></li>
							    <li><a href="#"><i class="fa fa-mobile fa-fw mr-2" data-fa-transform="grow-6"></i>{{ user.phoneNumber }}</a></li>
						    </ul>
					    </div><!--//primary-info-->
						<div style="display:block">
							{# <div class="secondary-info ml-md-auto mt-2"> #}
								<a class="btn-edit-cv" href="{{ path('user_profile_edit', {'id' : user.id }) }}">Editer mon cv</a>
							{# </div> #}

							{# <div class="secondary-info ml-md-auto mt-2"> #}
								{% if app.user.submit %}
								<a class="btn-edit-cv">CV déjà soumis</a>
								{% else %}
								<a class="btn-edit-cv" href="{{ path('user_cv_send', {'id' : user.id}) }}">Soumettre mon cv pour validation</a>
								{% endif %}
							{# </div> #}
						</div>
					    
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">OBJECTIF</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">Summarise your career here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Etat civil</h2>
						    <p>Date de naissance: {{ user.dateOfBirth | date('d/m/Y') }}</p>
						    <p>Lieu de naissance: {{ user.placeOfBirth }}</p>
						    <p>Situation familiale: {{ user.maritalStatus }}</p>
						    <p>Nom du conjoint: {{ user.conjointName }}</p>
						    <p>Nombre d'enfant: {{ user.nbChildren }}</p>
						    <p>Nationalité: {{ user.nationality }}</p>
						    <p>Adresse: {{ user.address }}</p>
						</section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Expérience Professionnelle</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">		    
								    <article class="resume-timeline-item position-relative">
									    {% for experience in user.experiences %}
										    <div class="resume-timeline-item-header mb-2">
											    <div class="d-flex flex-column flex-md-row">
											        <h3 class="resume-position-title font-weight-bold mb-1">{{ experience.position }} <small class="text-muted">({{ experience.status }})</small></h3>
											        <div class="resume-company-name ml-auto">{{ experience.company }}</div>
											    </div>
											    <div class="resume-position-time">du {{ experience.DateDebut|date('d-m-Y') }} jusqu'à {{ experience.DateFin|date('d-m-Y') }}</div>
										    </div>
										    <div class="resume-timeline-item-desc">
											    <p>{{ experience.achievements|nl2br}}</p>
											    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
											    <p>{{ experience.others|nl2br}}</p>
										    </div>
									    {% endfor %}
									    <a href="{{ path('experience') }}">Voir toutes mes expériences déjà encodés </a>
								    </article>
							    </div>
						    </div>
					    </section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Mes competences</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">		    
								    <article class="resume-timeline-item position-relative">
									    {% for skill in user.skills %}
										    <div class="resume-timeline-item-header mb-2">
											    <div class="d-flex flex-column flex-md-row">
											        <h3 class="resume-position-title font-weight-bold mb-1">{{ skill.title }}</h3>
											    </div>
										    </div>
										    <div class="resume-timeline-item-desc">
											    <p>{{ skill.description|nl2br}}</p>
										    </div>
									    {% endfor %}
									    <a href="{{ path('skill') }}">Voir toutes mes competences </a>
								    </article>
							    </div>
						    </div>
					    </section>
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Activités extra-professionnelles</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">
									    <div class="resume-timeline-item-header mb-2">
									    	{% for activity in user.extraWorkActivities %}
											    <div>
											        <h3 class="resume-position-title font-weight-bold mb-1">{{ activity.name }}</h3>
													<p>{{ activity.description }}</p>
											    </div><!--//row-->
										    {% endfor %}
									    </div><!--//resume-timeline-item-header-->

								    </article><!--//resume-timeline-item-->
							    </div><!--//resume-timeline-->
							    
						    </div>
					    </section><!--//extra-work-activity-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Formations</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
							    	{% set break = 0 %}
							    	{% for training in user.trainings if break < 3 %}
									    <li class="mb-2 pl-4 position-relative">
									        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
									        <div class="resume-award-name">{{ training.name }}</div>
									        <div class="resume-award-desc">{{ training.description | slice(0, 50) ~ '...' }}</div>
									    </li>
										{% set break = break + 1 %}
								    {% endfor %}
							    </ul>
						    </div>
						    <a href="{{ path('training') }}">Voir toutes mes formations</a>
					    </section><!--//interests-section-->
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Langue</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
								    <li><span class="resume-lang-name font-weight-bold">Spanish</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Hobbies</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
							    	{% for hobby in user.hobbies %}
								    	<li class="mb-1">{{ hobby.name }}</li>
								    {% endfor %}
							    </ul>
						    </div>
					    </section><!--//interests-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Sports</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
							    	{% for sport in user.sports %}
								    	<li class="mb-1">{{ sport.name }}</li>
								    {% endfor %}
							    </ul>
						    </div>
					    </section><!--//interests-section-->
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article>

{% endblock body %}