{% extends 'base_user.html.twig' %}
{% block body %}
	<div style="background-color: white">
		<fieldset>
			<legend>ETAT CIVIL</legend>
			<div>
				NOM: {{ user.firstName }}
			</div>
			<div>
				PRENOM: {{ user.lastName }}
			</div>
			<div>
				EMAIL: {{ user.email }}
			</div>
			<div>
				DATE DE NAISSANCE: {{ user.dateOfBirth | date('d/m/Y') }}
			</div>
			<div>
				LIEU DE NAISSANCE: {{ user.placeOfBirth }}
			</div>
			<div>
				SITUATION FAMILIALE: {{ user.maritalStatus }}
			</div>
			<div>
				NOM CONJOINT: {{ user.conjointName }}
			</div>
			<div>
				NOMBRE D'ENFANT: {{ user.nbChildren }}
			</div>
			<div>
				ADDRESSE: {{ user.address }}
			</div>
			<div>
				NATIONALITE: {{ user.nationality }}
			</div>
		</fieldset>
		<a href="{{ path('user_profile_edit', {id: user.id}) }}" class="btn btn-primary btn-block btn-flat">Editer mon CV</a>
	</div>

{% endblock body %}